#photoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  justify-items: center;
  /* justify-content: center; */
}

.preview {
  margin: 5px;
  max-width: 300px;
}

#photoContainer img:hover {
  cursor: pointer;
}